.calculadora{

    width: 450px; /*ancho*/
    margin: 100px auto; 
    border: 2px solid rgb(163, 51, 255 );
    padding: 30px;/*espacio entre margen y num cal*/
    border-radius: 10px;
    background-color: rgb(51, 255, 102 );
}

input[type="button"]{
    width: 65px;
    height: 95px;
    margin: 10px;
    font-size: 25px;
    cursor:grab;
}